*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.navbar-brand{
    font-size: 36px;
}
main .container
{
    padding-top: 20px;
    display: flex;
    justify-content: center;

}
.workArea{
    height: auto;
    width: 100%;
   background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
   
    border-radius: 30px;
   padding: 20px;
}
.workArea #addInput , #addHead
{
        width: 60%;
        height: 6vh;
        border-radius: 30px;
        border: 1px solid grey;
        outline: none;
        padding: 0px 20px;
        margin: 10px 0px;
        display: flex;
       

}
.workArea {
    display: flex;
    flex-direction: column;
}